body{
    background-color: lightslategray;
}
.searchbox{
    margin: 10px;
}
.w3-bar{
    background-color:darkblue;
    color: white;
}
h1{
    color:darkblue;
    text-align: center;
}
p{
    font-size: large;
    text-align: center;
    color:darkblue;
}
button{
    background-color:darkblue;
    color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 10px;
}
button:hover{
    text-decoration: underline;
}
.flex-container1{
    /* background-color: red; */
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 15px;
    position: relative;
    justify-content: space-evenly;
}
.flex-container2{
    /* background-color:yellow; */
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 15px;
    justify-content: space-evenly;
}
td:hover{
    background-color: lightgray;
}
table{
    width: 250px;
}
th{
    background-color: darkblue;
    color: white;
    padding: 15px;
}
td{
    background-color: white;
    padding: 10px;
    text-align: center;
}
.flex-container3{
    background-color:lightgrey; 
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 15px;
    justify-content: space-evenly;
}
.container1,.container2,.container3,.container4 h4{
    text-align: center;

}
.copy{
    text-align: center;
}
a{
    text-decoration: none;
}

/* html.html */

.body1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Left sidebar styling */
.left-sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
.left-sidebar img{
    width: 150px;;
    height: fit-content;
}

/* Right sidebar styling */
.right-sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
}

/* Main content styling */
.main-content {
    margin-left: 220px;
    margin-right: 220px;
    padding: 20px;
    flex-grow: 1;
}
.main-content{
    text-align: center;
}
.main-content h2{
    color:darkblue;
    text-align: left;
    font-weight: bold;
}
.main-content h3{
    color:darkblue;
    text-align: left;
    font-weight: bold;
}
.main-content p{
    text-align:left;
    color:black;
}
button{
    background-color: darkblue;
    color: white;
    
}
.left-sidebar img{
    background-color: yellow;
    width: 400;
    height: 500;
}
.anchor{
    text-decoration: underline;
}
.right-sidebar h4{
    color:darkblue;
    font-weight: bold;
}
.left-sidebar p{
    text-align: left;
    cursor: pointer;
}
.right-sidebar p{
    text-align: left;
}
.left-sidebar{
    
}
.tble{
    width: auto;
    
}
.main-content h4{
    text-align: left;
}
.boxe{
    width: auto;
    height: fit-content;
    background-color:lightgray;
    padding: 15px;
}
.structure{
    width: min-content;
    height: fit-content;
    background-color: bisque;

}
.structure img{
    align-items: center;
}
.boxed{
    width: auto;
    height: fit-content;
    background-color:lightgray;
    text-align: left;
    padding: 15px;
}
 h3 .dis{
    text-align: left;
    display: inline;
}
.color h1{
    color: black;
    font-weight: bold;
    text-align: center;
}
.color h2{
    color: black;
    font-weight: bold;
    text-align: center;
}
.color h3{
    color: black;
    font-weight: bold;
    text-align: center;
}
.color h4{
    color: black;
    font-weight: bold;
    text-align: center;
}.color h5{
    color: black;
    font-weight: bold;
    text-align: center;
}.color h6{
    color: black;
    font-weight: bold;
    text-align: center;
}
.p{
    display:inline;
}
.head1{
    color:black;
}
.h4{
    color:black;
    font-weight: bold;
}
.aa{
    color: green;
    text-decoration: underline;
}
.link{
    text-decoration: underline;
}
.greybox{
    background-color:lightgrey;
    border-radius:10px;
    padding: 15px;
}
.divv{
   color: black;
   font-weight: bold;
}
.parar{
    color: green;
    text-decoration:underline;
    
}
.cssimg{
    width: 500px;
    height: 300px;
}
.cssimgg{
    width: 600px;
    height: 300px;
}
.examples{
    width:600px;
    height:400px;
}
.history{
    width:700px;
    height:300px;
    align-items: center;
}
.structuress{
    width: 400px;
    height: 300px;
    align-items: center;
}